body {
    margin: 0;
    padding: 0;
}
.jumbotron{
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.inline {
    display: inline;
}

.table {
    margin: auto;
    width: 80%;
}

.datepicker { font-size: 80%; }