
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
    min-height: 100%;
    margin-bottom: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.inline {
    display: inline;
}

.table {
    margin: auto;
    width: 80%;
}

.middle {
   margin: 10% auto;
}

.datepicker { font-size: 80%; }

.picker {
    width: 13ch;
}
.clock {
  font-size: 4em;
}

.signout {
    display: inline-block;
    position: relative;
    float: right;
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 20px 20px;
}

.home {
    display: inline-block;
    position: relative;
    float: left;
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 20px 20px;
}

img:hover { /* svg on an img tag */
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
          filter: invert(1);
}
