<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="specialistList">
        <p class="font-weight-bold">Choose Specialist: </p>
        <select  class="select" name="specialist" onchange="location=this.value;" >
            <option value="" selected disabled hidden>Choose...</option>
            <option th:each="specialist : ${specialists}" th:value="${'/customer/' + specialist.name}"
                    th:text="${specialist.name}"
                    class="dropdown-item" ></option>
        </select>
    </div>
    <div th:fragment="dateList">
        <p class="font-weight-bold">Choose Date: </p>
        <select class="select" id="date" name="date" onchange="location=this.value;" th:disabled="${dates} == null" >
            <option th:each="date : ${dates}" th:value="${'/customer/' + date}" th:text="${date}"
                    th:selected="${selDate} == ${date}" class="dropdown-item" ></option>
        </select>
    </div>
</body>
</html>