<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${specialist.status}" class="mb-2" align="left">
    <th:block th:case="0">
        <select class="select"  onchange="location = this.value;"  >
            <option th:each="date : ${dates}" th:value="@{''+${date}}" th:text="${date}"
                    class="dropdown-item" th:selected="${customers[0].date} ? ${date} == ${customers[0].date}" ></option>
        </select>
    </th:block>
    <select th:case="*" class="select"  onchange="location = this.value;" disabled >
        <option th:each="date : ${dates}" th:value="@{''+${date}}" th:text="${date}"
                class="dropdown-item" th:selected="${date} == ${onGoing}" ></option>
    </select>
</div>
</body>
</html>